<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="9999999" android:versionName="5.0.273.1028421" android:installLocation="0" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.alightcreative.motion" platformBuildVersionCode="36" platformBuildVersionName="16">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
  <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
  <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
  <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
  <queries>
    <package android:name="com.facebook.katana"/>
    <intent>
      <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
    </intent>
    <intent>
      <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND"/>
    </intent>
    <intent>
      <action android:name="com.applovin.am.intent.action.APPHUB_SERVICE"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
    <intent>
      <action android:name="android.support.customtabs.action.CustomTabsService"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.INSERT"/>
      <data android:mimeType="vnd.android.cursor.dir/event"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <data android:scheme="sms"/>
    </intent>
    <intent>
      <action android:name="android.intent.action.DIAL"/>
      <data android:path="tel:"/>
    </intent>
    <intent>
      <action android:name="com.digitalturbine.ignite.cl.IgniteRemoteService"/>
    </intent>
  </queries>
  <uses-permission android:name="com.android.vending.BILLING"/>
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
  <uses-permission android:name="com.applovin.array.apphub.permission.BIND_APPHUB_SERVICE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
  <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
  <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
  <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
  <uses-permission android:name="android.permission.ACCESS_ADSERVICES_CUSTOM_AUDIENCE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <permission android:name="com.alightcreative.motion.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="0x00000002"/>
  <uses-permission android:name="com.alightcreative.motion.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
  <application android:theme="@7F150031" android:label="@7F14009F" android:icon="@7F100000" android:name="com.pairip.application.Application" android:allowBackup="true" android:hardwareAccelerated="true" android:largeHeap="true" android:supportsRtl="true" android:usesCleartextTraffic="false" android:networkSecurityConfig="@7F170006" android:roundIcon="@7F100002" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
    <activity android:name="com.alightcreative.app.motion.activities.DeviceMismatchNoticeActivity"/>
    <activity android:theme="@7F1502D9" android:name="com.bendingspoons.uicomponent.opensource.OpenSourceLibrariesActivity" android:exported="false"/>
    <activity android:theme="@7F1502D9" android:name="com.alightcreative.monetization.stackedintro.StackedOffersPaywallActivity" android:exported="false"/>
    <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="true"/>
    <meta-data android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT" android:value="true"/>
    <meta-data android:name="applovin.sdk.key" android:value="CP6wULIVzxoRdrEz130IlL7mRDBDktcW4qq0FhFvMkwPOoHmOdaAO3dQpT7kAA4MV8aUK7RLkNmWAzowzoVAtQ"/>
    <meta-data android:name="firebase_analytics_collection_enabled" android:value="false"/>
    <meta-data android:name="google_analytics_default_allow_analytics_storage" android:value="false"/>
    <meta-data android:name="google_analytics_default_allow_ad_storage" android:value="false"/>
    <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false"/>
    <meta-data android:name="google_analytics_default_allow_ad_user_data" android:value="false"/>
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-6708589877934833~7430066441"/>
    <activity android:theme="@7F1502D0" android:label="@7F14009F" android:name="com.alightcreative.app.motion.activities.main.MainActivity" android:exported="true" android:launchMode="2" android:screenOrientation="1" android:windowSoftInputMode="0x00000020">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="https" android:host="alight.to"/>
        <data android:scheme="http" android:host="alight.to"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="https" android:host="alightcreative.page.link"/>
        <data android:scheme="http" android:host="alightcreative.page.link"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="https" android:host="@7F14091E"/>
        <data android:scheme="http" android:host="@7F14091E"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="https" android:host="@7F14091D" android:pathPrefix="/am/share/u/"/>
        <data android:scheme="http" android:host="@7F14091D" android:pathPrefix="/am/share/u/"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:scheme="https"/>
        <data android:host="alight-creative-staging.firebaseapp.com"/>
        <data android:host="alight-creative.firebaseapp.com"/>
        <data android:pathPrefix="/__/auth/links"/>
      </intent-filter>
    </activity>
    <activity android:theme="@7F150031" android:label="@7F140CBA" android:name="com.alightcreative.app.motion.activities.EditActivity" android:screenOrientation="1" android:windowSoftInputMode="0x00000020" android:parentActivityName="com.alightcreative.app.motion.activities.main.MainActivity">
      <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activities.main.MainActivity"/>
    </activity>
    <activity android:name="com.alightcreative.app.motion.activities.AboutActivity" android:screenOrientation="1"/>
    <activity android:theme="@7F150341" android:name="com.alightcreative.app.motion.activities.SaveToStorageActivity"/>
    <activity android:name="com.alightcreative.app.motion.activities.ColorPickerActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.main.newfeature.NewFeaturePagerActivity" android:screenOrientation="1"/>
    <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.alightcreative.app.motion.fileprovider" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@7F170003"/>
    </provider>
    <receiver android:name="com.alightcreative.share.ChooserResultReceiver"/>
    <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@7F1407C1"/>
    <activity android:theme="@7F150554" android:label="@7F14009F" android:name="com.facebook.FacebookActivity" android:configChanges="0x000005B0"/>
    <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="@7F1407CD"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="@7F1407C2"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="fbconnect" android:host="cct.com.alightcreative.motion"/>
      </intent-filter>
    </activity>
    <activity android:name="com.alightcreative.app.motion.activities.SettingsActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.mediabrowser.MediaBrowser" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.audiobrowser.AudioBrowserActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.importer.xml.ui.ImportActivity" android:exported="true" android:screenOrientation="1">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="alightmotion"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:scheme="file" android:host="*" android:pathPattern=".*\.amproj"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:scheme="content" android:host="*" android:pathPattern=".*\.amproj"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="application/zip"/>
        <data android:mimeType="application/xml"/>
        <data android:mimeType="text/xml"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="*/*" android:scheme="file" android:host="*" android:pathPattern=".*\.amproj"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="*/*" android:scheme="content" android:host="*" android:pathPattern=".*\.amproj"/>
      </intent-filter>
    </activity>
    <activity android:name="com.alightcreative.app.motion.activities.MyAccountActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.tutorial.TutorialActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.ManageAccountActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.AgreeDeleteAccountActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.export.preview.ExportPreviewActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.DevSettingsActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.effectbrowser.EffectBrowserActivity" android:screenOrientation="1" android:windowSoftInputMode="0x00000030"/>
    <activity android:name="com.alightcreative.app.motion.activities.FontBrowserActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.importer.projectpackage.ElementDownloadActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.monetization.ui.PaywallActivity" android:screenOrientation="1" android:windowSoftInputMode="0x00000010"/>
    <activity android:name="com.alightcreative.app.motion.activities.survey.SurveyActivity" android:screenOrientation="1" android:windowSoftInputMode="0x00000010"/>
    <activity android:name="com.alightcreative.onboarding.ui.OnboardingActivity" android:screenOrientation="1" android:windowSoftInputMode="0x00000010"/>
    <activity android:name="com.alightcreative.template.importpreview.ui.TemplateImportPreviewActivity" android:screenOrientation="1" android:windowSoftInputMode="0x00000010"/>
    <activity android:name="com.alightcreative.maineditor.presetpreview.ui.PresetPreviewActivity" android:screenOrientation="1" android:windowSoftInputMode="0x00000010"/>
    <activity android:name="com.alightcreative.app.motion.activities.creatorprogram.rewardlist.CreatorRewardListActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.creatorprogram.redeem.RedeemTokensActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.activities.creatorprogram.qas.ui.QAsActivity" android:screenOrientation="1"/>
    <activity android:name="com.alightcreative.app.motion.ranking.ui.editprofile.EditProfileActivity" android:screenOrientation="1" android:noHistory="true"/>
    <activity android:theme="@7F1503B4" android:name="com.bendingspoons.forceupdater.internal.ForceUpdateActivity" android:exported="false"/>
    <activity android:name="com.bendingspoons.injet.ui.InjetPresenterActivity" android:launchMode="1" android:screenOrientation="1"/>
    <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION" android:value="true"/>
    <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING" android:value="true"/>
    <activity android:theme="@7F1502E6" android:name="com.bendingspoons.adorable.internal.HardcodedAdActivity" android:exported="false"/>
    <activity android:theme="@7F150210" android:name="com.bendingspoons.oracle.secretmenu.RedeemGiftCodeActivity" android:windowSoftInputMode="0x00000010"/>
    <activity android:theme="@7F1502E5" android:name="com.bendingspoons.oracle.OracleLoginActivity" android:exported="false"/>
    <activity android:theme="@android:01030010" android:name="com.bendingspoons.oracle.impl.authentication.OracleAuthLauncherActivity" android:exported="false"/>
    <activity android:name="com.bendingspoons.oracle.impl.authentication.OracleCallbackActivity" android:exported="true" android:launchMode="1">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="myapp" android:host="callback"/>
      </intent-filter>
    </activity>
    <activity android:theme="@7F150210" android:name="com.bendingspoons.concierge.ui.secretmenu.IDsActivity" android:windowSoftInputMode="0x00000010"/>
    <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>
    <meta-data android:name="com.google.android.gms.version" android:value="@7F0B000E"/>
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@7F1407C0"/>
    <activity android:theme="@7F1501AE" android:label="" android:name="com.firebase.ui.auth.KickoffActivity" android:exported="false"/>
    <activity android:theme="@7F1501AE" android:label="" android:name="com.firebase.ui.auth.ui.idp.SingleSignInActivity" android:exported="false"/>
    <activity android:theme="@7F1501AE" android:label="" android:name="com.firebase.ui.auth.ui.credentials.CredentialSaveActivity" android:exported="false"/>
    <activity android:label="@7F140868" android:name="com.firebase.ui.auth.ui.email.RecoverPasswordActivity" android:exported="false" android:windowSoftInputMode="0x00000010"/>
    <activity android:label="@7F140859" android:name="com.firebase.ui.auth.ui.email.EmailActivity" android:exported="false" android:windowSoftInputMode="0x00000010"/>
    <activity android:label="@7F140861" android:name="com.firebase.ui.auth.ui.phone.PhoneActivity" android:exported="false" android:windowSoftInputMode="0x00000015"/>
    <activity android:label="@7F14086A" android:name="com.firebase.ui.auth.ui.idp.WelcomeBackIdpPrompt" android:exported="false" android:windowSoftInputMode="0x00000010"/>
    <activity android:label="@7F14086B" android:name="com.firebase.ui.auth.ui.email.WelcomeBackPasswordPrompt" android:exported="false" android:windowSoftInputMode="0x00000010"/>
    <activity android:label="@7F14086B" android:name="com.firebase.ui.auth.ui.email.WelcomeBackEmailLinkPrompt" android:exported="false" android:windowSoftInputMode="0x00000010"/>
    <activity android:theme="@7F1501AE" android:label="" android:name="com.firebase.ui.auth.ui.email.EmailLinkCatcherActivity" android:exported="false" android:windowSoftInputMode="0x00000010"/>
    <activity android:label="@7F140859" android:name="com.firebase.ui.auth.ui.email.EmailLinkErrorRecoveryActivity" android:exported="false" android:windowSoftInputMode="0x00000010"/>
    <activity android:label="@7F140823" android:name="com.firebase.ui.auth.ui.idp.AuthMethodPickerActivity" android:exported="false"/>
    <provider android:name="com.firebase.ui.auth.data.client.AuthUiInitProvider" android:exported="false" android:authorities="com.alightcreative.motion.authuiinitprovider" android:initOrder="90"/>
    <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false" android:directBootAware="true">
      <meta-data android:name="com.google.firebase.components:com.google.firebase.firestore.ktx.FirebaseFirestoreLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.firestore.FirebaseFirestoreKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.appcheck.playintegrity.FirebaseAppCheckPlayIntegrityRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.ktx.FirebaseAuthLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ktx.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.functions.ktx.FirebaseFunctionsLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.ktx.FirebaseAnalyticsLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.ktx.FirebasePerfLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.storage.ktx.FirebaseStorageLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.storage.FirebaseStorageKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.storage.StorageRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.appcheck.FirebaseAppCheckKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.appcheck.FirebaseAppCheckRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.functions.FirebaseFunctionsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.functions.FunctionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
      <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
    </service>
    <activity android:theme="@android:01030010" android:name="com.google.firebase.auth.internal.GenericIdpActivity" android:exported="true" android:excludeFromRecents="true" android:launchMode="2">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="genericidp" android:host="firebase.auth" android:path="/"/>
      </intent-filter>
    </activity>
    <activity android:theme="@android:01030010" android:name="com.google.firebase.auth.internal.RecaptchaActivity" android:exported="true" android:excludeFromRecents="true" android:launchMode="2">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="recaptcha" android:host="firebase.auth" android:path="/"/>
      </intent-filter>
    </activity>
    <service android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder" android:enabled="true" android:exported="false">
      <meta-data android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY" android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl"/>
    </service>
    <activity android:theme="@7F1502EE" android:name="androidx.credentials.playservices.HiddenActivity" android:enabled="true" android:exported="false" android:configChanges="0x000005A0" android:fitsSystemWindows="true"/>
    <activity android:theme="@android:01030010" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:exported="false" android:excludeFromRecents="true"/>
    <service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:exported="true" android:visibleToInstantApps="true"/>
    <activity android:theme="@7F1502D1" android:name="com.bendingspoons.secretmenu.ui.SecretMenuActivity" android:exported="false"/>
    <activity android:theme="@android:01030055" android:name="com.bendingspoons.secretmenu.ui.items.exit.ExitActivity" android:autoRemoveFromRecents="true"/>
    <activity android:name="com.facebook.CustomTabMainActivity"/>
    <meta-data android:name="com.google.android.play.billingclient.version" android:value="7.1.1"/>
    <activity android:theme="@android:01030010" android:name="com.android.billingclient.api.ProxyBillingActivity" android:exported="false" android:configChanges="0x000005B0"/>
    <activity android:theme="@android:01030010" android:name="com.android.billingclient.api.ProxyBillingActivityV2" android:exported="false" android:configChanges="0x000005B0"/>
    <provider android:name="com.applovin.sdk.AppLovinInitProvider" android:exported="false" android:authorities="com.alightcreative.motion.applovininitprovider" android:initOrder="101"/>
    <activity android:name="com.applovin.adview.AppLovinFullscreenActivity" android:exported="false" android:launchMode="1" android:screenOrientation="3" android:configChanges="0x40000FB4" android:hardwareAccelerated="true"/>
    <activity android:name="com.applovin.sdk.AppLovinWebViewActivity" android:configChanges="0x40000FB4"/>
    <activity android:name="com.applovin.mediation.hybridAds.MaxHybridMRecAdActivity" android:configChanges="0x40000FB4"/>
    <activity android:name="com.applovin.mediation.hybridAds.MaxHybridNativeAdActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerDetailActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerMultiAdActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerAdUnitsListActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerAdUnitWaterfallsListActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerAdUnitDetailActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerTestLiveNetworkActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerTestModeNetworkActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F150543" android:name="com.applovin.mediation.MaxDebuggerWaterfallKeywordsActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F15053A" android:name="com.applovin.creative.MaxCreativeDebuggerActivity" android:configChanges="0x40000FB4"/>
    <activity android:theme="@7F15053A" android:name="com.applovin.creative.MaxCreativeDebuggerDisplayedAdActivity" android:configChanges="0x40000FB4"/>
    <service android:name="com.applovin.impl.adview.activity.FullscreenAdService" android:exported="false" android:stopWithTask="false"/>
    <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
    <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
    <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
    <activity android:theme="@android:01030010" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
    <activity android:theme="@android:0103000F" android:name="com.google.android.gms.ads.AdActivity" android:exported="false" android:configChanges="0x00000FB0"/>
    <provider android:name="com.google.android.gms.ads.MobileAdsInitProvider" android:exported="false" android:authorities="com.alightcreative.motion.mobileadsinitprovider" android:initOrder="100"/>
    <service android:name="com.google.android.gms.ads.AdService" android:enabled="true" android:exported="false"/>
    <activity android:name="com.google.android.gms.ads.OutOfContextTestingActivity" android:exported="false" android:configChanges="0x00000FB0"/>
    <activity android:theme="@android:01030010" android:name="com.google.android.gms.ads.NotificationHandlerActivity" android:exported="false" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="2"/>
    <property android:name="android.adservices.AD_SERVICES_CONFIG" android:resource="@7F170004"/>
    <service android:name="com.google.firebase.sessions.SessionLifecycleService" android:enabled="true" android:exported="false"/>
    <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.alightcreative.motion.firebaseinitprovider" android:initOrder="100" android:directBootAware="true"/>
    <activity android:name="androidx.compose.ui.tooling.PreviewActivity" android:exported="true"/>
    <provider android:name="com.facebook.internal.FacebookInitProvider" android:exported="false" android:authorities="com.alightcreative.motion.FacebookInitProvider"/>
    <receiver android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver" android:exported="false">
      <intent-filter>
        <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
      </intent-filter>
    </receiver>
    <receiver android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver" android:exported="false">
      <intent-filter>
        <action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
      </intent-filter>
    </receiver>
    <uses-library android:name="androidx.window.extensions" android:required="false"/>
    <uses-library android:name="androidx.window.sidecar" android:required="false"/>
    <provider android:name="androidx.startup.InitializationProvider" android:exported="false" android:authorities="com.alightcreative.motion.androidx-startup">
      <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
      <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
      <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
      <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
    </provider>
    <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" android:enabled="@7F050003" android:exported="false" android:directBootAware="false"/>
    <service android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="@7F050005" android:exported="true" android:directBootAware="false"/>
    <service android:name="androidx.work.impl.foreground.SystemForegroundService" android:enabled="@7F050004" android:exported="false" android:directBootAware="false"/>
    <receiver android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver" android:enabled="true" android:exported="false" android:directBootAware="false"/>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.BATTERY_OKAY"/>
        <action android:name="android.intent.action.BATTERY_LOW"/>
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
        <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
      <intent-filter>
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver" android:enabled="false" android:exported="false" android:directBootAware="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.intent.action.TIME_SET"/>
        <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver" android:enabled="@7F050003" android:exported="false" android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
      </intent-filter>
    </receiver>
    <receiver android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP" android:enabled="true" android:exported="true" android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
      </intent-filter>
    </receiver>
    <service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false" android:directBootAware="true"/>
    <uses-library android:name="android.ext.adservices" android:required="false"/>
    <activity android:theme="@android:01030010" android:name="com.facebook.ads.AudienceNetworkActivity" android:exported="false" android:configChanges="0x00000DA0"/>
    <provider android:name="com.facebook.ads.AudienceNetworkContentProvider" android:exported="false" android:authorities="com.alightcreative.motion.AudienceNetworkContentProvider"/>
    <activity android:name="com.vungle.ads.internal.ui.VungleActivity" android:launchMode="1" android:configChanges="0x00000FA0" android:hardwareAccelerated="true"/>
    <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP" android:enabled="true" android:exported="true" android:directBootAware="false">
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
      </intent-filter>
    </receiver>
    <service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery" android:exported="false">
      <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
    </service>
    <service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
    <receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" android:exported="false"/>
    <meta-data android:name="com.facebook.soloader.enabled" android:value="false"/>
    <activity android:theme="@7F15033D" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:exported="false" android:stateNotNeeded="true"/>
    <activity android:name="com.fyber.inneractive.sdk.activities.InneractiveInternalBrowserActivity" android:screenOrientation="13" android:configChanges="0x00000DA0" android:hardwareAccelerated="true"/>
    <activity android:theme="@android:01030007" android:name="com.fyber.inneractive.sdk.activities.InneractiveFullscreenAdActivity" android:configChanges="0x00000DA0" android:hardwareAccelerated="true"/>
    <activity android:theme="@android:01030007" android:name="com.fyber.inneractive.sdk.activities.InneractiveRichMediaVideoPlayerActivityCore" android:configChanges="0x00000DA0" android:hardwareAccelerated="true"/>
    <activity android:theme="@android:01030010" android:name="com.fyber.inneractive.sdk.activities.InternalStoreWebpageActivity" android:excludeFromRecents="true" android:screenOrientation="4" android:configChanges="0x00000DA0"/>
    <activity android:name="com.fyber.inneractive.sdk.activities.FyberReportAdActivity" android:screenOrientation="13" android:configChanges="0x00000DA0" android:hardwareAccelerated="true"/>
  </application>
  <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
</manifest>
